<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="styles.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <form method="post" action="/contact">
        <h3>Contact us</h3>
        <input type="text" name="name" id="" placeholder="Name" />
        <input type="email" name="email" id="" placeholder="Email" />
        <button type="submit">Send Message</button>
      </form>
    </main>
  </body>
</html>
