<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link href="styles.css" rel="stylesheet" />
  </head>
  <body>
    <form method="post" action="/register">
      <h3>Register Now</h3>
      <input type="text" name="name" id="" placeholder="Name" />
      <input type="email" name="email" id="" placeholder="Email" />
      <input type="password" name="password" id="" placeholder="password" />
      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>
